
img {
    width: 200px;
    height: 150px;
    border-radius: 2px;
    margin: 0 7px 10px;
  }

.aboutMe {
  overflow: auto;
}

.images {
  margin: 20px;
  margin-left: 60px;
  width: 70%;
  height: 100%;
  overflow: auto;
}

.overlay {
    background-color: rgb(101, 179, 224);
    position: relative;
    margin: 0 -207px 10px;
    width: 200px;
    height: 150px;
    opacity: 0;
    transition: .5s ease;
    float: left;
}

.imageContainer:hover .overlay {
    opacity: .97;
}
  
.text {
  color: white;
  font-size: 20px;
  position: relative;
  top: 20%;
  left: 48%;
  width: 150px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.learnMore {
  position: relative;
  top: 60px;
  left:20%;
}

.projectImg {
  float: left;
}

  
@media screen and (max-width: 995px) {
  .images {
    margin-left: 70px;
  }
}

@media screen and (max-width: 550px) {
  img {
    width: 75px;
    height: 50px;
  }

  .images {
    margin-left: 0px;
    padding-left: 15px;
  }

  .overlay {
    margin: 0 -82px 10px;
    width: 75px;
    height: 50px;
  }

  .text {
    font-size: 10px;
    max-width: 70px;
  }

  .learnMore {
    position: relative;
    top: 5px;
    left: 0;
    width: 70px;
    line-height: 5px;
    font-size: 8px;
    margin-left: 2.5px;
  }
}