.nav {
    bottom: 0;
    left: 0;
    position: absolute;
    background: #1b242f;
    border-bottom: 4px solid #04c2c9;
    height: 75px;
    text-align: left;
    width: 100%;
    z-index: 99;
    margin-top: 100vh;
    font-family: 'Sen', sans-serif;
  }
  
  li {
    font-size: 18px;
    margin: 5px 45px 0;
    color: #282c34;
    font-family: 'Sen', sans-serif;
    line-height: 20px;
}

li:hover a {
    font-size: 19px;
    color: rgb(170, 24, 24)!important;
    margin-right: -3px;
}

.projects:hover a {
    margin-right: -3.75px;
}

.sticky {
    font-size: 200px;
}