.jumbotron {
    background-image: url("./image0.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 95vh;
    color: whitesmoke;
}

.jumbotron h3 {
    margin-top: 20px;
    margin-left: 70px;
    font-weight: 400;
    font-family: 'Sen', sans-serif;
}

.jumbotron p {
    margin-left: 10%;
    font-weight: 400;
    font-size: 23px;
    font-family: 'Sen', sans-serif;
}

.header {
    border-style: solid;
    border-width: 3px;
    border-radius: 2px;
    border-color: black;
    width: 480px;
    background-color: rgba(23, 53, 58, 0.603)
}

.hr {
    border-style: solid;
    border-left: hidden;
    border-bottom: hidden;
    border-right: hidden;
    border-color: white;
    border-width: 1.25px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10px;
}

.link {
    display: block;
    text-align: center;
    border-style: solid;
    height: 50px;
    width: 250px;
    padding: 10px 10px 0 10px;
    margin-left: 45%;
    margin-top: 40px;
    background-color: rgba(23, 53, 58, 0.603);
    color: whitesmoke;
}

.link:hover {
    background-color: whitesmoke;
    color:#333;
    border-color: #04c2c9;
}

@media screen and (max-width: 550px) {
    .header {
        width: 100%;
        margin-left: -3%;
    }

    .hr {
        margin-left: 15%;
        width: 210px;
    }

    .jumbotron h3 {
        font-size: 40px;
        margin-left: 10%;
    }

    .jumbotron p {
        font-size: 18px;
        margin-left: 0;
    }

    .link {
        margin-left: 10%;
        width: 225px;
    }
}

@media screen and (max-width: 350px) {
    .jumbotron h3 {
        font-size: 30px;
    }

    .jumbotron p {
        font-size: 12px;
    }

    .hr {
        margin-left: 15%;
        width: 160px;
    }

    .link {
        width: 175px;
        font-size: 12px;
    }
}