
img {
    width: 200px;
    height: 150px;
    border-radius: 2px;
    margin: 0 7px 10px;
  }

 .images {
    margin: 20px;
    margin-left: 60px;
    width: 90%;
    overflow: auto;
}

.overlay {
    background-color: rgb(101, 179, 224);
    position: relative;
    margin: 0 -207px 10px;
    width: 200px;
    height: 150px;
    opacity: 0;
    transition: .5s ease;
    float: left;
}

.imageContainer:hover .overlay {
    opacity: .97;
}
  
  .text {
    color: white;
    font-size: 20px;
    position: relative;
    top:20%;
    left: 48%;
    width: 150px;
    height: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .learnMore {
    position: relative;
    top: 60px;
    left:20%;
  }
  
  .projectImg {
    float: left;
  }