html {
  height: 80vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgba(101, 179, 224, 0.5);
}

p {
  padding: 30px 50px 0;
  font-size: 18px;
  text-align: left;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  height: 70vh;
}

.page {
  max-height: 100vh;
  height: 90%;
}

.pageHead {
  font-family: 'Sen', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
}

.content {
  background-color: rgba(0, 0, 0, 0.65);
  width: 90%;
  margin-left: 5%;
  height: 90%;
  border-radius: 2.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 10%;
}

.contactMe {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 3%;
}

@media screen and (max-width: 550px) {
  .pageHead {
    font-size: 30px;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
  }

  p {
    font-size: 11px;
  }
}

@media screen and (max-width: 370px) {

  .contactMe {
    font-size: 12px;
  }

  .pageHead {
    font-size: 20px;
  }
}

@media screen and (max-width: 245px) {
  .content {
    height: 450px;
  }
}